
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.base-controls{
  display: inline-block;
}
.canvas-div
{
 width: 100%;
}



.controls{
  width: 25%;
  justify-content: space-between;
}


.form-control-inline{
  min-width: 0;
  width: auto;
  display: inline;
}


.control-item{
  margin-bottom: 1em;
}

.tint-slider-wrapper{
  margin-bottom: 0.5em;
}


#tint-group .card-body > p,  #tint-value {
  font-size: 0.75em;
  margin-bottom: 0;
  /* Add any other styles you want */
}


